/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.breadcrumb>ol {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb-separator {
    padding-left: 4px;
    padding-right: 4px
}