<!-- wp:template-part {"slug":"header","theme":"dennisclaassen2023-2"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
    <!-- wp:columns -->
    <div class="wp-block-columns">
        <!-- wp:column {"width":"33.3%"} -->
        <div class="wp-block-column" style="flex-basis:33.3%">
            <!-- wp:avatar {"size":136} /-->
            <!-- wp:post-author-name {"className":"text-xl"} /-->
            <!-- wp:post-author-biography /-->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"66.7%"} -->
        <div class="wp-block-column" style="flex-basis:66.7%">
            <!-- wp:query {"queryId":21,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"}} -->
            <div class="wp-block-query">
                <!-- wp:heading -->
                <h2 class="wp-block-heading">Contribution activity</h2>
                <!-- /wp:heading -->

                <!-- wp:post-template -->
                <!-- wp:columns -->
                <div class="wp-block-columns">
                    <!-- wp:column {"width":"100%"} -->
                    <div class="wp-block-column" style="flex-basis:100%">
                        <!-- wp:post-title {"level":6,"isLink":true} /-->
                    </div>
                    <!-- /wp:column -->

                    <!-- wp:column {"width":"80px"} -->
                    <div class="wp-block-column" style="flex-basis:80px">
                        <!-- wp:post-date {"textAlign":"right","format":"M j"} /-->
                    </div>
                    <!-- /wp:column -->
                </div>
                <!-- /wp:columns -->
                <!-- /wp:post-template -->
            </div>
            <!-- /wp:query -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</div>
<!-- /wp:group -->
