<!-- wp:template-part {"slug":"header","theme":"dennisclaassen2023-2","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
        <!-- wp:dc23/github-breadcrumbs /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:dc23/github-tree /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
        <!-- wp:query-title {"type":"archive","showPrefix":false} /-->

        <!-- wp:term-description /-->
</main>
<!-- /wp:group -->
