<!-- wp:template-part {"slug":"header","theme":"dennisclaassen2023","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:dc23/github-tree /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
        <!-- wp:columns {"style":{"spacing":{"padding":{"top":"80px","bottom":"80px","right":"0px"}}}} -->
        <div class="wp-block-columns" style="padding-top:80px;padding-right:0px;padding-bottom:80px">
                <!-- wp:column {"width":"40%","layout":{"type":"default"}} -->
                <div class="wp-block-column" style="flex-basis:40%">
                        <!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"5rem"}}} -->
                        <p class="has-text-align-center" style="font-size:5rem">🙋‍♂️</p>
                        <!-- /wp:paragraph -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"width":"60%","layout":{"type":"default"}} -->
                <div class="wp-block-column" style="flex-basis:60%">
                        <!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
                        <main class="wp-block-group"><!-- wp:heading -->
                                <h2 class="wp-block-heading">Hi! I'm Dennis.</h2>
                                <!-- /wp:heading -->

                                <!-- wp:paragraph {"style":{"typography":{"fontSize":"1.5rem"}},"textColor":"contrast"} -->
                                <p class="has-contrast-color has-text-color" style="font-size:1.5rem">I'm currently a
                                        lead developer at Yoast. I'm leading 2 multidisciplinary squads that focus on
                                        Yoast SEO for Shopify, and <a rel="noreferrer noopener"
                                                href="https://www.yoast.com/" data-type="URL"
                                                data-id="https://www.yoast.com/" target="_blank">the Yoast.com website
                                        </a>and MyYoast customer portal.</p>
                                <!-- /wp:paragraph -->

                                <!-- wp:paragraph -->
                                <p>If you want to get in contact or stay up to date with what interests me at the
                                        moment, the best places to find me are:</p>
                                <!-- /wp:paragraph -->

                                <!-- wp:social-links {"iconColor":"contrast","iconColorValue":"#000000","openInNewTab":true,"showLabels":true,"size":"has-normal-icon-size","style":{"spacing":{"blockGap":{"top":"0","left":"0"}}},"className":"is-style-logos-only","layout":{"type":"flex","orientation":"vertical"}} -->
                                <ul
                                        class="wp-block-social-links has-normal-icon-size has-visible-labels has-icon-color is-style-logos-only">
                                        <!-- wp:social-link {"url":"http://twitter.com/declaassen","service":"twitter","label":"@declaassen","rel":"me"} /-->

                                        <!-- wp:social-link {"url":"http://www.linkedin.com/in/dennis-claassen-developer","service":"linkedin","label":"Dennis Claassen","rel":"me"} /-->

                                        <!-- wp:social-link {"url":"https://github.com/d-claassen","service":"github","label":"d-claassen","rel":"me"} /-->
                                </ul>
                                <!-- /wp:social-links -->
                        </main>
                        <!-- /wp:group -->
                </div>
                <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:group {"backgroundColor":"tertiary","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-tertiary-background-color has-background">
        <!-- wp:columns {"style":{"spacing":{"padding":{"top":"80px","bottom":"80px"}}}} -->
        <div class="wp-block-columns" style="padding-top:80px;padding-bottom:80px"><!-- wp:column {"width":"40%"} -->
                <div class="wp-block-column" style="flex-basis:40%"><!-- wp:heading {"level":3} -->
                        <h3 class="wp-block-heading">Skills</h3>
                        <!-- /wp:heading -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"width":"60%"} -->
                <div class="wp-block-column" style="flex-basis:60%"><!-- wp:paragraph -->
                        <p><strong>Web development</strong>. HTML, JavaScript (jQuery, Vue, React), CSS (Sass), PHP
                                (Symfony, Doctrine), Git.</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:paragraph -->
                        <p><strong>Database design</strong>. MySQL, Elasticsearch.</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:paragraph -->
                        <p><strong>Test automation</strong>. Unit testing (PHPUnit, Jest), end-to-end testing (Selenium,
                                Puppeteer), test driven development.</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:paragraph -->
                        <p><strong>Quality assurance</strong>. Linting (PHP_CodeSniffer, ESLint), static analysis
                                (Psalm, PHPStan), code review (Phabricator, GitHub), continuous integration (Jenkins,
                                GitHub Actions), SonarQube.</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:paragraph -->
                        <p><strong>Soft skills</strong>. Communication, coaching, prioritizing, proactive.</p>
                        <!-- /wp:paragraph -->
                </div>
                <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:columns {"style":{"spacing":{"padding":{"top":"80px","bottom":"80px"}}}} -->
        <div class="wp-block-columns" style="padding-top:80px;padding-bottom:80px"><!-- wp:column {"width":"40%"} -->
                <div class="wp-block-column" style="flex-basis:40%"><!-- wp:heading {"level":3} -->
                        <h3 class="wp-block-heading">Experience</h3>
                        <!-- /wp:heading -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"width":"60%"} -->
                <div class="wp-block-column" style="flex-basis:60%"><!-- wp:group {"layout":{"type":"constrained"}} -->
                        <div class="wp-block-group"><!-- wp:heading {"level":4} -->
                                <h4 class="wp-block-heading">Yoast</h4>
                                <!-- /wp:heading -->

                                <!-- wp:paragraph -->
                                <p><strong>Lead developer</strong><br>October 2021 - Present</p>
                                <!-- /wp:paragraph -->

                                <!-- wp:paragraph -->
                                <p><strong>Senior developer</strong><br>March 2021 - October 2021</p>
                                <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:group {"layout":{"type":"constrained"}} -->
                        <div class="wp-block-group"><!-- wp:heading {"level":4} -->
                                <h4 class="wp-block-heading">YoungCapital</h4>
                                <!-- /wp:heading -->

                                <!-- wp:paragraph -->
                                <p>In 2017 Hippo HR got acquired by YoungCapital. Being backed by a much bigger company
                                        gave a huge boost to the possibilities for our team. In 2019, YoungCapital
                                        acquired Jobbird.com and we as a team were given the challenge to adjust our
                                        platform to run a second website on it.</p>
                                <!-- /wp:paragraph -->

                                <!-- wp:paragraph -->
                                <p><strong>Senior developer Uitzendbureau.nl &amp; Jobbird.com</strong><br>January 2020
                                        - February 2021</p>
                                <!-- /wp:paragraph -->

                                <!-- wp:paragraph -->
                                <p><strong>Developer Uitzendbureau.nl &amp; Jobbird.com</strong><br>January 2019 -
                                        December 2019</p>
                                <!-- /wp:paragraph -->

                                <!-- wp:paragraph -->
                                <p><strong>Developer Uitzendbureau.nl</strong><br>January 2017 - December 2018</p>
                                <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:group {"layout":{"type":"constrained"}} -->
                        <div class="wp-block-group"><!-- wp:heading {"level":4} -->
                                <h4 class="wp-block-heading">Hippo HR</h4>
                                <!-- /wp:heading -->

                                <!-- wp:paragraph -->
                                <p>Hippo HR was the company behind Uitzendbureau.nl. I started here during my study,
                                        graduated and stayed afterwards.</p>
                                <!-- /wp:paragraph -->

                                <!-- wp:paragraph -->
                                <p><strong>Web developer Uitzendbureau.nl</strong><br>August 2012 - December 2016</p>
                                <!-- /wp:paragraph -->

                                <!-- wp:paragraph -->
                                <p><strong>Graduate Uitzendbureau.nl</strong><br>January 2012 - July 2012</p>
                                <!-- /wp:paragraph -->

                                <!-- wp:paragraph -->
                                <p><strong>Developer Uitzendbureau.nl</strong><br>May 2011 - January 2012</p>
                                <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:group {"layout":{"type":"constrained"}} -->
                        <div class="wp-block-group"><!-- wp:heading {"level":4} -->
                                <h4 class="wp-block-heading">Hogeschool van Arnhem en Nijmegen</h4>
                                <!-- /wp:heading -->

                                <!-- wp:paragraph -->
                                <p>During study one of our deliverables had the potential to be put to use during future
                                        classes where less developers and more designers would be involved. We as a
                                        project team continued work on the product and actually guided the usage during
                                        the following semester.</p>
                                <!-- /wp:paragraph -->

                                <!-- wp:paragraph -->
                                <p><strong>Student assistant</strong><br>July 2011 - January 2012</p>
                                <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:group {"layout":{"type":"constrained"}} -->
                        <div class="wp-block-group"><!-- wp:heading {"level":4} -->
                                <h4 class="wp-block-heading">SQUARE Concepts</h4>
                                <!-- /wp:heading -->

                                <!-- wp:paragraph -->
                                <p><strong>Intern</strong><br>September 2010 - January 2011</p>
                                <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:group -->
                </div>
                <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:group {"backgroundColor":"tertiary","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-tertiary-background-color has-background">
        <!-- wp:columns {"style":{"spacing":{"padding":{"top":"80px","bottom":"80px"}}}} -->
        <div class="wp-block-columns" style="padding-top:80px;padding-bottom:80px"><!-- wp:column {"width":"40%"} -->
                <div class="wp-block-column" style="flex-basis:40%"><!-- wp:heading {"level":3} -->
                        <h3 class="wp-block-heading">Education</h3>
                        <!-- /wp:heading -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"width":"60%"} -->
                <div class="wp-block-column" style="flex-basis:60%"><!-- wp:heading {"level":4} -->
                        <h4 class="wp-block-heading">Hogeschool van Arnhem en Nijmegen</h4>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph -->
                        <p><strong>Communication &amp; Multimedia Design</strong><br>September 2008 - June 2012</p>
                        <!-- /wp:paragraph -->
                </div>
                <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
</div>
<!-- /wp:group -->
