name: 'Test'

on:
  push:
    branches:
      - main
  pull_request: null

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  all-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Stable PHP, WP, and deps
        php_version: ["8.3","8.4","8.5"]
        wp_version: ["6.9"]
        dependencies_version: ["locked"]
        include:
          # Lowest PHP, WP, and deps
          - php_version: "8.2"
            wp_version: "6.8"
            dependencies_version: "lowest"
          # Latest PHP and WP
          - php_version: "8.5"
            wp_version: "master"
            dependencies_version: "highest"

    name: "WP Test: PHP ${{ matrix.php_version }} / WP ${{ matrix.wp_version }} / Composer ${{ matrix.dependencies_version }}"

    # Allow builds to fail on as-of-yet unreleased WordPress versions.
    continue-on-error: ${{ matrix.wp_version == 'master' }}

    env:
      WP_ENV_PHP_VERSION: ${{ matrix.php_version }}
      WP_ENV_CORE: ${{ format( 'WordPress/WordPress#{0}', matrix.wp_version ) }}

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6

      - name: 'Setup Node and node_modules cache'
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: 'Setup PHP'
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php_version }}

      - name: 'Validate composer.json and composer.lock'
        run: 'composer validate --no-check-publish'
        continue-on-error: true

      - name: 'NPM install'
        run: npm install

      - name: 'Composer install'
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependencies_version }}
          composer-options: '--prefer-dist --no-progress --no-suggest --optimize-autoloader'

      - name: 'Build the theme'
        run: 'npm run build'

      - name: 'Start WP env'
        run: npm run wp-env start -- --xdebug=coverage || npm run wp-env start -- --xdebug=coverage

      - name: 'Debug wp-env'
        run: |
          docker ps -a
          # npm run wp-env run -- tests-mysql mysql -- --version
          npm run wp-env run -- tests-wordpress php -- --version
          # npm run wp-env run -- tests-wordpress php -m
          # npm run wp-env run -- tests-wordpress php -i
          npm run wp-env run -- --env-cwd='wp-content/themes/dennisclaassen2023' tests-wordpress ./vendor/bin/phpunit -- --version
          # npm run wp-env run -- tests-wordpress locale -a
          npm run wp-env run -- tests-cli wp core version
          # npm run wp-env run -- tests-cli wp user list
          npm run wp-env run -- tests-cli wp theme list
          npm run wp-env run -- tests-cli wp plugin list

      - name: 'Activate theme'
        run: npm run wp-env run -- tests-cli wp theme activate dennisclaassen2023

      - name: 'Test PHP WP units'
        run: "npm run wp-env run -- --env-cwd='wp-content/themes/dennisclaassen2023' tests-wordpress vendor/bin/phpunit -c phpunit-wp.xml.dist --coverage-text --display-errors --display-warnings"

  e2e-playwright:
    name: "E2E Test: WP ${{ matrix.wp_version }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        wp_version: ["6.8", "6.9", "master"]

    env:
      WP_ENV_CORE: ${{ format( 'WordPress/WordPress#{0}', matrix.wp_version ) }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: 'Setup PHP'
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"

      - name: 'Validate composer.json and composer.lock'
        run: 'composer validate --no-check-publish'
        continue-on-error: true

      - name: 'NPM install'
        run: npm install

      - name: 'Composer install'
        uses: ramsey/composer-install@v3
        with:
          composer-options: '--prefer-dist --no-progress --no-suggest --optimize-autoloader'
 
      - name: NPM build
        run: npm run build

      - name: Install Playwright dependencies
        run: npx playwright install chromium firefox webkit --with-deps

      - name: 'Start WP env'
        run: WP_ENV_TESTS_PORT=8889 npm run wp-env start || npm run wp-env start

      - name: 'Debug wp-env'
        run: |
          docker ps -a
          # npm run wp-env run -- tests-mysql mysql -- --version
          npm run wp-env run -- tests-wordpress php -- --version
          # npm run wp-env run -- tests-wordpress php -m
          # npm run wp-env run -- tests-wordpress php -i
          npm run wp-env run -- --env-cwd='wp-content/themes/dennisclaassen2023' tests-wordpress ./vendor/bin/phpunit -- --version
          # npm run wp-env run -- tests-wordpress locale -a
          npm run wp-env run -- tests-cli wp core version
          # npm run wp-env run -- tests-cli wp user list
          npm run wp-env run -- tests-cli wp theme list
          npm run wp-env run -- tests-cli wp plugin list

      - name: 'Activate theme'
        run: npm run wp-env run -- tests-cli wp theme activate dennisclaassen2023

      - name: Run the tests
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
        run: npm run test:e2e

